.form_add_user_general {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-items: center;
    padding: 0 2% 5% 2%;
    width: 60vw;
}

.graphic {
    position: relative;
    align-self: center;
    width: 40%
}

.form_add_user {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: 10%;
}

.form_add_user >canvas{
    justify-content: center;
    align-items: center;
}

.title_image>h1 {
    margin-left: 2%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.title_image {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 8%;
    margin-top: 2%;
}

.form_add_user>label:nth-child(1) {
    margin-top: 5%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.form_add_user label {
    margin-top: 2%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button_addDept {
    margin-left: 10%;
    margin-top: 3%;
    background-color: var(--error-button-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--black-color);
    font-weight: bold;
}

.form_add_user select {
    margin-top: 2%;
    border-radius: 3px;
    height: 2rem;
    width: 95%;
    background-color: var(--gray-color);
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user option {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--shade-5-color);
}

.form_add_user option:hover {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--shade-5-color);
    color: var(--shade-5-color);
}

.form_add_user input:not(.button_table_goTo) {
    margin-top: 2%;
    padding: 0.5rem 1rem;
    float: right;
    border-radius: 3px;
    width: 90%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user>input {
    width: 95%;
}

.no_selected_report {
    color: var(--shade-6-color);
    font-weight: bold;
}

.button_generate_pdf {
    background-color: var(--error-button-color) !important;
    width: 20%;
    font-family: var(--text-principal-font) !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-bottom: 15px !important;
    border-color: var(--error-button-color) !important;
    ;
}

.form_add_user input[type=submit]:nth-child(1) {
    margin-top: 3%;
    background-color: var(--error-button-color);
    height: 45px;
    width: 16rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    font-weight: bold;
}

.form_add_user>select {
    width: 100%;
}

.input_horizontal {
    padding: 2%;
}

.form_horizontal {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.form_horizontal input {
    width: 83%;
    margin-top: 2%;
    float: left;
}

.form_horizontal select[class=gender] {
    width: 90%;
    margin-top: 2%;
    float: right;
    padding: 0.5rem 7rem 0.5rem 1rem;
}

.input-horizontal>input .error_message {
    border: 1px solid var(--error-text-color);
}

.form_add_user_general>h3.error_message {
    margin-top: 5%;
    text-align: center;
    width: 50%;
    color: var(--error-text-color);
}

.label_table_users {
    padding-bottom: 2%;
}

.table_data {
    box-sizing: border-box;
    width: 100%;
    max-height: 500px;
    justify-content: left;
    position: relative;
}

.table_data .title_filters_dependencies {
    text-align: left;
    padding: 0px;
    margin: 5% 0px 0px 0px;
}

.table_data .title_filters_dependencies {
    text-align: center;
    padding: 0px;
    margin: 5% 0px 0px 0px;
}

.table_data .table_format {
    border-collapse: collapse;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    margin-bottom: 3%;
    border: black 1px solid;
}

.table_format>thead>tr>th {
    position: sticky;
    top: 0;
    width: 10%;
    height: 3rem;
    color: white;
    text-align: center;
    background-color: var(--shade-5-color);
    margin: 0;
    padding: 0;
}

.table_data * [class~=table_format]>tbody>tr:nth-child(odd) {
    width: 10%;
    height: 3rem;
    text-align: center;
    background-color: red !important;
    color: black;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table_format>tbody>tr:nth-child(even) {
    width: 10%;
    height: 3rem;
    text-align: center;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--tinte-6-color);
    margin: 0;
    padding: 0;
}

.button_table_goTo {
    margin-top: 0%;
    padding: 0%;
    border-radius: 0%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    box-shadow: 0% var(--black-color);
    justify-items: center;
}


/*Filas impares de la tabla*/

.table_data [class~=row-accessories]:nth-child(odd) {
    font-family: var(--text-principal-font);
    background-color: var(--white-color) !important;
    color: black !important;
    text-align: center !important;
    font-size: 15px;
}


/*Filas pares de la tabla*/

.table_data [class~=row-accessories]:nth-child(even) {
    font-family: var(--text-principal-font);
    background-color: var(--tinte-7-color) !important;
    color: black !important;
    text-align: center !important;
    font-size: 15px;
}

.table_data [class~=details-colum] {
    margin-left: 25% !important;
}

.table_data [class~=p-datatable] [class~=p-datatable-tbody]>tr>td {
    padding-left: 0rem !important;
    padding-top: 0.2rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0.2rem !important;
    text-align: center !important;
}

.table_data [class~=p-datatable] [class~=p-datatable-thead]>tr>th {
    top: 0;
    width: 10%;
    font-weight: normal;
    padding: 2% 2% 2% 2%;
    font-size: 15px;
    color: white !important;
    text-align: center !important;
    background-color: var(--shade-5-color) !important;
    margin: 0;
    font-family: var(--text-principal-font);
    border-width: 0px 1px 1px 1px !important;
}

.table_data * [class~=p-column-header-content] {
    margin-left: 15px!important;
}

.table_data * [class~=p-column-filter]::placeholder {
    font-size: 10px !important;
}

.table_data * [class~=p-button-rounded] {
    background-color: var(--shade-5-color) !important;
    width: 30px !important;
    height: 30px !important;
}

.table_data * [class~=p-column-title] {
    width: 100%;
    font-family: var(--text-principal-font);
    font-weight: bold;
}

.table_data * [class~=pi-filter]:before {
    color: var(--white-color) !important;
    background-color: transparent !important;
}

.table_data * [class~=p-column-filter-menu-button-active] {
    background-color: transparent !important;
    color: var(--shade-5-color) !important;
}

.table_data * [class~=myTable] {
    border-collapse: collapse;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    font-family: var(--text-principal-font);
    font-weight: normal;
    font-size: 15px;
    color: white;
    margin-bottom: 3%;
}