 /*/ Styles Page User/*/

.general_admin{
    display: flex;
    flex-direction: column;
}

.general_admin.B{
    /*/ Sombras/*/
    --shade-5-color: #7CB342;
    --shade-0-color: #6D9D3A;
    --shade-1-color: #716700;
    --shade-2-color: #5E5600;
    --shade-3-color: #4C4500;
    --shade-4-color: #393300;
    --shade-6-color: #262200;
    --shade-7-color: #131100;
    /*/ Tintes/*/
    --dye-0-color: #A49820;
    --dye-1-color: #B1A740;
    --dye-2-color: #BEB560;
    --dye-3-color: #CBC480;
    --dye-4-color: #D8D39F;
    --dye-5-color: #E5E2BF;
    --dye-6-color: #F2F0DF;
    /*/ Tonos/*/
    --tone-0-color: #948810;
    --tone-1-color: #918720;
    --tone-2-color: #8E8530;
    --tone-3-color: #8B8440;
    --tone-4-color: #888350;
    --tone-5-color: #858260;
    --tone-6-color: #828170;
    --color-button: #978900;
}


.general_admin.F{
    /*/ Sombras/*/
    --shade-5-color: #009789;
    --shade-0-color: #008478;
    --shade-1-color: #007167;
    --shade-2-color: #005E56;
    --shade-3-color: #004C45;
    --shade-4-color: #003933;
    --shade-6-color: #002622;
    --shade-7-color: #001311;
    /*/ Tintes/*/
    --dye-0-color: #20A498;
    --dye-1-color: #40B1A7;
    --dye-2-color: #60BEB5;
    --dye-3-color: #80CBC4;
    --dye-4-color: #9FD8D3;
    --dye-5-color: #BFE5E2;
    --dye-6-color: #DFF2F0;
    /*/ Tonos/*/
    --tone-0-color: #109488;
    --tone-1-color: #209187;
    --tone-2-color: #308E85;
    --tone-3-color: #408B84;
    --tone-4-color: #508883;
    --tone-5-color: #608582;
    --tone-6-color: #708281;
    --color-button: #009789;
}


.general_admin.C{
    /*/ Sombras/*/
    --shade-5-color: #D49528;
    --shade-0-color: #BA8223;
    --shade-1-color: #86AA6B;
    --shade-2-color: #708E59;
    --shade-3-color: #597147;
    --shade-4-color: #435535;
    --shade-6-color: #2D3924;
    --shade-7-color: #161C12;
    /*/ Tintes/*/
    --dye-0-color: #BCE69C;
    --dye-1-color: #C6EAAA;
    --dye-2-color: #CFEDB8;
    --dye-3-color: #D9F1C7;
    --dye-4-color: #E2F4D5;
    --dye-5-color: #ECF8E3;
    --dye-6-color: #F5FBF1;
    /*/ Tonos/*/
    --tone-0-color: #ADD78C;
    --tone-1-color: #A6CA8A;
    --tone-2-color: #A0BE89;
    --tone-3-color: #99B187;
    --tone-4-color: #93A585;
    --tone-5-color: #8C9883;
    --tone-6-color: #868C81;
    --color-button: #B3E38E;
}