.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@123;135;181;400&display=swap");

:root {

  /*/ Gama de colores verde /*/
  --shade-5-color: #009789;
  --color-button : #009789;
  --gray-color: #e4e0e0;
  --white-color: #ffffff;
  --black-color: #000000;
  --shade-6-color: #005E55;
  --tinte-7-color: #F7FCFB;
  --tinte-5-color: #e2f4d5;
  --principal-color: #b3e28e;
  --error-button-color: #f27272;
  --error-text-color: #e63a13;
  --shade-2-color: #86a96b;

    /*/ Gama de colores verde 
    --shade-5-color: #597147;
    --color-button : #597147;
    --gray-color: #e4e0e0;
    --white-color: #ffffff;
    --black-color: #000000;
    --shade-6-color: #2d3824;
    --tinte-7-color: #f5fbf1;
    --tinte-5-color: #e2f4d5;
    --principal-color: #b3e28e;
    --error-button-color: #ffcdc2;
    --error-text-color: #e63a13;
    --shade-2-color: #86a96b;  /*/

  /*/ Gama de colores amarillo 
  --shade-5-color: #6E5C09;
  --gray-color: #e4e0e0;
  --white-color: #ffffff;
  --black-color: #000000;
  --shade-6-color: #524506;
  --tinte-7-color: #FBF6E1;
  --tinte-5-color: #EDDB88;
  --principal-color: #DCB811  ;
  --error-button-color: #ffcdc2;
  --error-text-color: #e63a13;
  --shade-2-color: #86a96b; /*/

  /*Estilos de parrafos */
  --text-principal-font: "Inter", sans-serif;
  --text-size-h1: 20px;
  --text-size-mobile: 15px;
}

body {
  margin: 0;
  padding: 0;
}
h3 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
h4 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
}
