.content_informtion_message {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    padding: 0 2% 5% 2%;
    width: 100%;
}

.title_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.title_image>h1 {
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: black;
}

.button_accept_ok {
    border: 0;
    box-sizing: border-box;
    float: right;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    box-shadow: 0px 1px 3px var(--black-color);
    margin-top: 3%;
    background-color: var(--shade-5-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
}

.button_accept_error {
    border: 0;
    box-sizing: border-box;
    float: right;
    border-radius: 3px;
    box-shadow: 0px 1px 3px var(--black-color);
    padding: 0.5rem 1rem;
    margin-top: 3%;
    background-color: var(--error-button-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--black-color);
    font-weight: bold;
}