.username_menu{
    background-color: var(--shade-5-color) !important;
    margin-left: 45px;
    font-family: var(--text-principal-font);
    color: var(--white-color) !important;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    margin-right: 45px;   
    align-items: center;
}

.username_menu :hover {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    box-shadow: inset 0 -5px 0 var(--white-color);
}

.username_menu > img:hover{
    box-shadow: inset 0 0px 0px;}

        