.form_add_user_general {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-items: center;
    padding: 0 2% 5% 2%;
    width: 45vw;
}

.form_add_user {
    display: flex;
    justify-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: 10%;
}

.title_image>h1 {
    margin-left: 2%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.title_image {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
    margin-top: 2%;
}

.form_add_user>label:nth-child(1) {
    margin-top: 5%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.form_add_user label {
    margin-top: 2%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button_addDept {
    margin-left: 10%;
    margin-top: 3%;
    background-color: var(--error-button-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    font-weight: bold;
}

.form_add_user>select {
    margin-top: 2%;
    border-radius: 3px;
    height: 2rem;
    width: 100%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user option {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--shade-5-color);
}

.form_add_user option:hover {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--shade-5-color);
    color: var(--shade-5-color);
}

.form_add_user>input {
    margin-top: 2%;
    padding: 0.5rem 1rem;
    float: right;
    border-radius: 3px;
    width: 100%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user input[type=submit]:nth-child(1) {
    margin-top: 3%;
    background-color: var(--shade-5-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
    border: 0;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user input[type=submit]:nth-child(2) {
    margin-top: 3%;
    background-color: var(--error-button-color);
    height: 45px;
    width: 12rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    font-weight: bold;
    border: 0;
    box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user>select {
    width: 100%;
}

.form_horizontal {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_horizontal {
    display: inline-block;
    box-sizing: border-box;
    max-width: 90%;
}

.input_horizontal:nth-child(even) {
    padding-left: 1rem;
}

.input_horizontal>select {
    margin-top: 2%;
    border-radius: 3px;
    height: 2rem;
    width: 100%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    border: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0px 1px 3px var(--black-color);
}

.input_horizontal option {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--shade-5-color);
}

.input_horizontal option:hover {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: var(--shade-5-color);
    color: var(--shade-5-color);
}

.input_horizontal>input {
    box-sizing: border-box;
    margin-top: 2%;
    float: left;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 100%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 1px 3px var(--black-color);
}

.input_horizontal>input:not(.error_message_input) {
    border: 0;
}

.input_horizontal>select[name=gender] {
    margin-top: 2%;
    float: right;
    padding: 0.5rem 7rem 0.5rem 1rem;
}

.error_message_input {
    border: 1px solid var(--error-text-color);
}

.label_dependencie {
    padding-bottom: 1rem;
}

.error_message {
    margin-top: 5%;
    text-align: left;
    width: 100%;
    color: var(--error-text-color);
}