/*Rutas de las imagenes del nav*/

.img_dependencies {
    background-size: contain;
    background-image: url(./images/Icon_Dependency.png) !important;
    height:50px ;
    width:50px ;
}

.img_users {
    background-size: contain;
    background-image: url(./images/Icon_Users.png) !important;
    height:50px ;
    width:50px ;
}

.img_patients {
    background-size: contain;
    background-image: url(./images/Icon_Patients.png) !important;
    height:50px ;
    width:50px ;
}

.img_products {
    background-size: contain;
    background-image: url(./images/Icon_Products.png) !important;
    height:45px ;
    width:45px ;
}


