
.form_add_user_general{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--black-color);
  background-color: var(--tinte-7-color);
  top: 10;
  left: 0;
  margin-left: 5%;
  width: 90%;
  padding: 3% 3% 5% 2%;
}
.form_add_user{
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 13%;
}

/*Estilos de div general para reporte*/
.form_user_report {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  left: 0;
  margin-left: 0%;
  width: 100%;
  padding: 3% 0% 0% 0%;
}

/*Estilos de form para reportes*/
.form_report {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 95%;
  margin-left: 5%;
}

.form_report input[type="submit"]:nth-child(1) {
  visibility: hidden;
}

.form_report input[type="submit"]:nth-child(2) {
  visibility: hidden;
}

.form_report > input {
  margin-top: 2%;
  padding: 0px;
  float: right;
  border-radius: 3px;
  width: 90%;
  text-align: left;
  font-family: "Inter", sans-serif;
  border: 0;
  box-shadow: 0px 1px 3px var(--black-color);
}

.title_image > h1{
  margin-left: 2%;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.title_image{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 8%;
  margin-top: 2%;
}
.form_add_user > label:nth-child(1){
    margin-top: 5%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.form_add_user label{
    margin-top: 2%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button_addDept{
  margin-left: 10%;
  margin-top: 3%;
  background-color:var(--error-button-color);
  height: 45px;
  width: 12rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black-color);
  font-weight: bold;
}

.form_add_user select{
  margin-top: 2%;
  border-radius: 3px;
  height: 2rem;
  width: 95%;
  background-color: var(--gray-color);
  text-align: left;
  font-family: 'Inter', sans-serif;
  border: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 3px var(--black-color); 
}

.form_add_user option{
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--shade-5-color);
}
.form_add_user option:hover{
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--shade-5-color);
  color: var(--shade-5-color);
}

.form_add_user input:not(.button_table_goTo){
  margin-top: 2%;
  padding: 0.5rem 1rem;
  float: left;
  border-radius: 3px;
  width:90%;
  text-align: left;
  font-family: 'Inter', sans-serif;
  border: 0;
  box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user > input{
  width: 95%;
}

.form_add_user input[type=submit]:nth-child(1){
  margin-top: 3%;
  background-color:var(--error-button-color);
  height: 45px;
  width: 30rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
}

.title_error{
  color: red;
}

.form_add_user input[type=submit]:nth-child(2){
  margin-left: 10%;
  margin-top: 3%;
  background-color:var(--error-button-color);
  height: 45px;
  width: 12rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--white-color);
  font-weight: bold;
}

.form_add_user > select{
  width: 100%;
}

.input_horizontal{
  padding: 2%;
}

.form_horizontal{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form_horizontal input{
  width: 83%;
  margin-top: 2%;
  float: left;
}
.form_horizontal select[class=gender]{
  width: 90%;
  margin-top: 2%;
  float: right;
  padding: 0.5rem 7rem 0.5rem 1rem;
}

.input-horizontal > input .error_message {
  border: 1px solid var(--error-text-color);
}

.form_add_user_general > h3.error_message{
  margin-top: 5%;
  text-align: center;
  width: 50%;
  color: var(--error-text-color);
}

.label_table_users{
  padding-bottom: 2%;
}


