
.table-data{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    height: 350px;
    justify-content: center;
    overflow: scroll;
    scrollbar-color: var(--shade-5-color) var(--principal-color);
    position: relative;

}

.table-format{
    border-collapse: collapse;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
    margin-bottom: 3%;
    border: black 1px solid;

}

.table-format > thead> tr > th{
    position: sticky;
    top: 0;
    width: 100px;
    height: 60px;
    color: white;
    text-align: center;
    background-color: var(--shade-5-color);
    margin: 0;
    padding: 0;
}

.table-format > tbody> tr:nth-child(odd){
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: var(--white-color);
    color: black;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-format > tbody> tr:nth-child(even){
    width: 100px;
    height: 40px;
    text-align: center;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--tinte-6-color);
    margin: 0;
    padding: 0;
}