
.form_add_user_general{
  display: flex;
  overflow:hidden;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--black-color);
  background-color: var(--tinte-7-color);
  top: 10;
  left: 0;
  margin-left: 17%;
  width: 60%;
  height: 100%;
  padding: 3% 3% 5% 2%;
}
.form_add_user{
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 13%;
}
.title_image > h1{
  margin-left: 2%;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.title_image{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 8%;
  margin-top: 2%;
}
.form_add_user > label:nth-child(1){
    margin-top: 5%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.form_add_user label{
    margin-top: 2%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.form_add_user select{
  margin-top: 2%;
  border-radius: 3px;
  height: 2rem;
  width: 95%;
  background-color: var(--gray-color);
  text-align: left;
  font-family: 'Inter', sans-serif;
  border: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 3px var(--black-color); 
}

.form_add_user option{
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--shade-5-color);
}
.form_add_user option:hover{
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--shade-5-color);
  color: var(--shade-5-color);
}

.form_add_user input:not(.button_table_goTo){
  margin-top: 2%;
  padding: 0.5rem 1rem;
  float: right;
  border-radius: 3px;
  width:90%;
  background-color: var(--gray-color);
  text-align: left;
  font-family: 'Inter', sans-serif;
  border: 0;
  box-shadow: 0px 1px 3px var(--black-color);
}

.form_add_user > input{
  width: 95%;
}

.form_add_user input[type=submit]:nth-child(1){
  margin-top: 3%;
  background-color:var(--shade-5-color);
  height: 45px;
  width: 12rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
}

.form_add_user input[type=submit]:nth-child(2){
  margin-left: 10%;
  margin-top: 3%;
  background-color:var(--error-button-color);
  height: 45px;
  width: 12rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black-color);
  font-weight: bold;
}

.form_add_user > select{
  width: 100%;
}

.input_horizontal{
  padding: 2%;
}

.form_horizontal{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form_horizontal input{
  width: 83%;
  margin-top: 2%;
  float: left;
}
.form_horizontal select[class=gender]{
  width: 90%;
  margin-top: 2%;
  float: right;
  padding: 0.5rem 7rem 0.5rem 1rem;
}

